<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
PI NODE
{% endblock %}
{% block content %}
<div class="tile row">
    <div id="title_state" class="title col-4">
        <label > Test label </label>
    </div>
    <div  class="time col-4">
        <label id = "timer"> 00:00 </label>
    </div>
    <div class="tog form-check form-switch col-1 d-md-flex justify-content-md-end">
        <input class="form-check-input btn-lg" type="checkbox" id="switch">
    </div>
</div>
{% endblock %}


